*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: white;
  position: relative;
  height: 100vh;
}
#game {
  max-width: 700px;
  margin-inline: auto;
  height: 100%;
  position: relative;
}

#gameCanvas,
#clickables {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
}

#gameCanvas {
  max-width: 400px;
  background-color: rgb(10, 6, 6);
}

#clickables {
  display: none;
}
